.tech-summary {
    text-align: center;
    border: 1px solid rgba($color-background-dark, .2);
    border-radius: 3px;
    transition: all .5s;
    // position: relative;

    &:hover {
        background-color: rgba($color-secondary-light, 1);
        transform: translateY(-2px);

        .tech-summary__icon {
            transform: scale(1.2);
        }
            
        }

    &__list {
        color: $color-text-tertiary;
        list-style: none;
        font-size: $default-font-size;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        background-image: linear-gradient(to right bottom,rgba($color-white, 1), rgba($color-primary-light, .1));
        border-radius: 3px;
    }

    &__image-container {
        margin: 0 auto;
        height: 10rem;
        width: 10rem;
    }

    &__icon {
        width: 100%;
        transition: all .5s;
    }
}