* {
    /* border: 1px solid goldenrod; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    height: 100vh;
    width: 100vw;
}

header {
    text-align: center;
    height: 5vh;
}

.flex-nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#drawPiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#drawPiles .card {
    height: 180px;
    width: 140px;
    background-color: white;
    margin: 0 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* align-items: ; */
}

#handPiles {
    height: 60vh;
    /* border: 1px solid gold; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.pile {
    height: 180px;
    width: 560px;
    /* border: 2px solid blue; */
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#handPiles .card {
    height: 180px;
    width: 140px;
    border: 1px solid black;
    background-color: white;
    margin: 0 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.suitHearts {
    background: url('/suitSprite.png') no-repeat -112px -4px;
	width: 78px;
	height: 89px;
}

.suitSpades {
    background: url('/suitSprite.png') no-repeat -5px -3px;
	width: 69px;
	height: 91px;
}

.suitDiamonds {
    background: url('/suitSprite.png') no-repeat -7px -106px;
	width: 65px;
	height: 89px;
}

.suitClubs {
    background: url('/suitSprite.png') no-repeat -107px -107px;
	width: 88px;
	height: 87px;
}


