* {
    border: 1px solid goldenrod;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    height: 100vh;
    width: 100vw;
}

header {
    text-align: center;
    height: 5vh;
}

.flex-nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-midPile {
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#midDeck {
    height: 180px;
    width: 140px;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.flex-suit {
    display: flex;
    align-items: center;
}

.flex-pile {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}
.pile {
    width: 140px;
    height: 180px;
}

.hearts {
    background: url('/suitSprite.png') no-repeat -112px -4px;
	width: 78px;
	height: 89px;
}

.spades {
    background: url('/suitSprite.png') no-repeat -5px -3px;
	width: 69px;
	height: 91px;
}

.diamonds {
    background: url('/suitSprite.png') no-repeat -7px -106px;
	width: 65px;
	height: 89px;
}

.clubs {
    background: url('/suitSprite.png') no-repeat -107px -107px;
	width: 88px;
	height: 87px;
}

/* img {
    height: 180px;
    width: 140px;
} */


