*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", "Lato", "Sans-Serif";
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* body,
*::before body,
*::after body {
  font-family: "Montserrat", "Lato", "Sans-Serif";
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #eee;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-size: 7.2rem;
    display: block;
    letter-spacing: 1.2rem;
    animation: fadeIn 3s ease-out; }
  .heading-primary--sub {
    font-size: 3.6rem;
    font-weight: 300;
    display: inline-block;
    margin-top: 3.8rem;
    animation: fadeIn 3s ease-out; }

.heading-secondary {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  letter-spacing: 1.2; }
  .heading-secondary::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #001ac4;
    width: 60%;
    margin: 0 auto;
    margin-top: 1.2rem; }

.heading-tertiary {
  font-size: 3.2rem;
  display: inline-block;
  font-weight: 400; }
  .heading-tertiary::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #e34e17;
    width: 60%;
    margin: 0 auto;
    margin-top: 1.2rem; }

.paragraph {
  font-size: 1.8rem;
  text-align: left; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 3rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.aboutme {
  text-align: center;
  position: relative; }
  .aboutme__text {
    text-align: center; }
  .aboutme__paragraph {
    width: 85%;
    margin: 0 auto; }
  .aboutme__photo {
    width: 80%;
    border-radius: 1rem;
    margin: auto 0; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 2.6rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  position: relative; }

.btn span {
  display: inline-block;
  font-size: 3rem;
  transition: all .5s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #ea6332; }
  .btn:hover span {
    transform: rotate(90deg); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #C44314; }

.btn--orange {
  background-color: #e34e17;
  color: #eee; }
  .btn--orange::after {
    background-color: #e34e17; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .75s ease-out 3.0s;
  animation-fill-mode: backwards; }

.btn__image {
  position: absolute; }

#particles-js {
  background-color: rgba(11, 96, 224, 0.9); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% -  2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% -  2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% -  3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * ((100% -  3 * 6rem) / 4)) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% -  3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-color: yellow; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 12rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section__about {
  background-color: #fcfcff;
  padding: 15rem 0; }
