// @import "/sass/abstracts/functions";
// @import "/sass/abstracts/mixins";
// @import "/sass/abstracts/variables";

// @import "/sass/base/base";
// @import "/sass/base/animations";
// @import "/sass/base/typography";
// @import "/sass/base/utilities";

// @import "/sass/pages/home";
html {
    background: linear-gradient(0deg, rgba(26,35,35,1) 0%, rgba(46,130,131,1) 100%);
}

.container {
    text-align: center;
    color:  #c3ced9;
}

img {
    width: 250px;
    border-radius: 10px;
    border: 5px solid #c3ced9;
}

.description {
    text-align: left;
}

a {
    text-decoration: none;
    color: orange;
}

/* .bio-container {
}
.bio {
    width: 500px;
} */

.list-container {
    border: 1px solid white;
}

.list {
    display: flex;
    justify-content: center;
    

}
