.section__about {
    background-color: $color-background-light;
    // background-color: $color-black;
    padding: 15rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.section-tech-summary {
    background-color: $color-background-home;
    padding: 25rem 0;
    margin-top: -6rem;
    margin-bottom: -15rem;
    // clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
}

.section-technologies {
    background-color: $color-white;
    // background-color: $color-black;
    padding: 15rem 0;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-top: -8rem;

}