.section__about {
    background-color: $color-background-light;
    // background-color: orchid;
    padding: 15rem 0;
}

.section-tech-summary {
    background-color: $color-background-home;
    padding: 15rem 0;
}