*,
*::before,
*::after {
    body {
        font-family: "Lato", "Sans-Serif";
        font-weight: 400;
        line-height: 1.7;
        color: $color-text-primary;
        // padding: 3rem;
    }
}