*,
*::before,
*::after {
    body {
        font-family: "Montserrat", "Lato", "Sans-Serif";
        font-weight: 400;
        line-height: 1.7;
        color: $color-text-primary;
        // text-rendering: optimizeLegibility;
        // padding: 3rem;
    }
}

.heading-primary {
    color: $color-text-secondary;
    margin-bottom: 6rem;

    &--main {
        font-size: 7.2rem;
        display: block;
        letter-spacing: 1.2rem;
        
    }

    &--sub {
        font-size: 3.2rem;
        font-weight: 300;
        display: inline-block;
        margin-top: 3.8rem;
    }
}